.footer_top {
  margin-top: 40px;
  background: white;
}
.footer_top_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .footer_top_item {
    width: auto;
  }
}
