.brands_section h1 {
  background: white;
  margin-top: 100px;
  padding: 20px 30px;
  font-size: 22px;
  font-weight: bold;
}
.brands {
  display: flex;
  flex-wrap: wrap;
  background: white;
}
.brands_item {
  width: 312.5px;
  height: 200px;
  text-align: center;
  border: 1px solid #e1e8ed;
}
.brands_item img {
  width: 162.5px;
  height: 150px;
  margin-left: 70px;
  object-fit: contain;
}
